:root {
  --font-family-main: "Playfair Display", Serif;
  --font-family-second: "Poppins", Sans-serif;
  --main-background-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --tertiary-color: #272142;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-main);
  font-weight: bold;
  color: black;
}
p {
  font-family: var(--font-family-second);
}
.hero {
  text-align: center;
  padding: 160px 20px;
  background-color: var(--main-background-color);
}
.hero h1 {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  color: var(--tertiary-color);
  font-weight: bold;
  font-family: var(--font-family-second);
}
.hero h2 {
  font-size: 96px;
  font-weight: 700;
  line-height: 128px;
}
.hero p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  color: var(--tertiary-color);
}
.btn-branding {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 4px;
  margin-top: 10px;
  padding: 15px 30px;
}
.yoghurt-section {
  padding: 120px 60px;
}
.yoghurt-section h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
}
.yoghurt-section p {
  font-family: var(--font-family-second);
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #272142;
}
.btn-branding-outline {
  border: 1px solid var(--secondary-color);
  font-family: var(--font-family-second);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  color: var(--secondary-color);
  padding: 15px 30px;
  border-radius: 4px;
}
.featured {
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--tertiary-color);
  font-style: normal;
}
.about-section h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
}
.about-section h2 {
  color: var(--tertiary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  font-family: var(--font-family-second);
}
.about {
  padding: 120px 60px;
}
.image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 900px) {
  .yoghurt-section {
    padding: 0;
    text-align: center;
  }
  .hero h2 {
    font-size: 50px;
    line-height: 2;
  }
  .yoghurt-section h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
}
